footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}


footer::before, footer::after{
  display: block;
  content: "";
  position: relative;
  top:0;
  height: 30px;
  width: 3vw;
  border-top: 8px solid #a7a4a4;
  background-color: silver;
  border-radius: 0px 0px 50px 50px;
  box-shadow: 0 0 20px 1px #000000b0 inset;
}

footer::after{right: 0;}