footer {
  background-color: #831f2b;
  font-size: var(--body-font-size-xs);
  position: relative;
  z-index: 1;
  /* display: flex; */
  justify-content: space-between;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}

footer.footer-wrapper::before, footer.footer-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  height: 30px;
  width: 3vw;
  top: 0;
  border-top: 8px solid #a7a4a4;
  background-color: silver;
  border-radius: 0 0 50px 50px;
  box-shadow: 0 0 20px 1px #000000b0 inset, 0 0 10px 1px #000000;
}

footer.footer-wrapper::before {left: 0;}
footer.footer-wrapper::after{right: 0;}